sources/nodered_user_interface/nodes.json
[
    {
        "id": "cd404a1aaa31ac01",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83179aa4c5eadb29",
        "type": "mqtt in",
        "z": "cd404a1aaa31ac01",
        "name": "Chripstack",
        "topic": "application/569d064a-3653-4612-b198-e1461f4d799e/device/0004a30b002159ca/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4df4fe6fce784e81",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "de5061a570263121"
            ]
        ]
    },
    {
        "id": "ea7ae1577210131f",
        "type": "ui_chart",
        "z": "cd404a1aaa31ac01",
        "name": "",
        "group": "e2c8389964476b77",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Measured tension from the gas sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "300",
        "ymax": "400",
        "removeOlder": "100",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2d9f565775401953",
        "type": "ui_text",
        "z": "cd404a1aaa31ac01",
        "group": "e2c8389964476b77",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last value:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "de5061a570263121",
        "type": "function",
        "z": "cd404a1aaa31ac01",
        "name": "Get from MQTT",
        "func": "console.log(\"Reçu\");\n// console.log(msg);\nconsole.log(msg.payload.data);\n\ntry {\n    // Decode the base64 payload into a buffer\n    var buf = Buffer.from(msg.payload.data, 'base64');\n    console.log(\"Buffer:\", buf);\n\n    // Check if the buffer has at least 2 bytes\n    if (buf.length < 2) {\n        throw new Error(\"Buffer does not have enough data. Expected at least 2 bytes.\");\n    }\n\n    // Read a single 16-bit unsigned integer (big-endian)\n    var value = buf.readUInt16BE(0); // Read 2 bytes starting at position 0\n\n    console.log(\"16-bit Value:\", value);\n\n    // Set the result in the payload\n    msg.payload = value;\n    return msg;\n\n} catch (error) {\n    console.error(\"Error processing message:\", error.message);\n    return null; // Return null to signal an error in processing\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nnode.log(\"Bonjour\");",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 220,
        "wires": [
            [
                "ea7ae1577210131f",
                "2d9f565775401953"
            ]
        ]
    },
    {
        "id": "4df4fe6fce784e81",
        "type": "mqtt-broker",
        "name": "ChripstackBroker",
        "broker": "https://srv-chirpstack.insa-toulouse.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e2c8389964476b77",
        "type": "ui_group",
        "name": "DashboardGroup",
        "tab": "8a84924861333935",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a84924861333935",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]